JWT_SECRET=your_jwt_secret_here

# Database Configuration
DB_USER=postgres
DB_PASSWORD=Abuka@8539
DB_HOST=localhost
DB_PORT=5432
DB_NAME=scm_system

# Email Service (Nodemailer)
EMAIL_FROM=no-reply@yourdomain.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
