.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    background-color: rgb(255, 255, 245);
    border-radius: 5px;
    box-shadow: 5px 10px 10px solid black;
    padding: 10px;
    margin-top: 15px;
}